@use "../utilities/media-queries.scss" as *;

#mobile__show-menu {
    position: fixed;
    left: calc(50% - 1.5em);
    bottom: 1em;   
}

#mobile__hide-menu {
    display: block;
    position: absolute;
    right: 1em;
    bottom: 1em;
}



#mobile__show-menu, 
#mobile__hide-menu {
    cursor: pointer;

    width: 3em;
    height: 3em;
    border-radius: 2em;
    border: 1px solid black;

    @include media-query("min", "large") {
        display: none;
    }
}